<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English to Telugu Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>English ➜ Telugu Translator</h1>

    <textarea id="englishTextForTelugu" placeholder="Enter English text..."></textarea>

    <button onclick="translateTextToTelugu()">Translate</button>

    <h3>Telugu Translation:</h3>
    <div id="output"></div>
</div>



<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>